# common
*.class
*.log
.idea
.staging

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot
project/plugins/project

# scala-ide specific
.scala_dependencies
.worksheet

# node specific

## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules/

# Book build output
_book/

# eBook build output
*.epub
*.mobi
*.pdf

